<main class="w-full flex-grow p-3">
  <!-- Content Start -->

  <div">

  

  {{if .Error}} 
    <div class="flex p-4 mb-4 text-sm space-x-4 text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-red-800 dark:text-red-400" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <div>
            <ul class="mt-1.5 list-disc list-inside">
              {{.Error}}
            </ul>
        </div>
    </div>
    {{end}}

    {{if .Inform}} 
    <div class="flex p-4 mb-4 text-sm space-x-4 text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-green-800 dark:text-green-400" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <div>
            <ul class="mt-1.5 list-disc list-inside">
              {{.Inform}}
            </ul>
        </div>
    </div>
    {{end}}

    <div class="relative overflow-x-auto">
    <ul role="list" class="max-w divide-y divide-gray-200 dark:divide-gray-700">
      {{range .Values}}
        <li class="py-3 sm:py-4" onmouseover="tasksСhangeBackgroundColor(this, true)" onmouseout="tasksСhangeBackgroundColor(this, false)" onclick="tasksOpenDialog('tasks_update','{{.Id}}','{{.Dt_closed_expect_int}}','{{.Finish}}','{{.Author_id}}','{{.Assigned_id}}','{{.Title}}','{{.Content}}')" ">
            <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <span class="inline-flex items-center text-sm font-medium text-gray-900 px-2.5 py-0.5 rounded-full  {{if .Delay}}bg-red-300{{else}}bg-green-300{{end}} ">
                  {{.Id}}
                </span>
                <div class="flex-1 min-w-0">
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      dt_opened: {{.Dt_opened}}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      dt_closed: {{.Dt_closed_expect}}
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      dt_finish: {{.Dt_closed_finish}}
                    </p>
                </div>
                <div class="flex-1 min-w-0" style="display: none;">
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    {{.Dt_closed_expect_int}}
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    {{.Dt_closed_finish_int}}
                  </p>
                </div>
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-semibold text-gray-900 truncate dark:text-white">
                    Author..: {{.Author}}
                  </p>
                  <p class="text-sm text-gray-700 truncate dark:text-gray-400">
                    Assigned: {{.Assigned}}
                  </p>
                </div>
                <div class="flex-1 min-w-0" style="display: none;">
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    {{.Author_id}}
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                    {{.Assigned_id}}
                  </p>
                </div>
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-semibold text-gray-900 truncate dark:text-white">
                    Title..: {{.Title}}
                  </p>
                  <p class="text-sm text-gray-700 truncate dark:text-gray-400">
                    Content: {{.Content}}
                  </p>
                </div>
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-semibold truncate dark:text-gray-400 {{if .Finish}}text-green-600{{else}}text-gray-600{{end}}">
                    Finish: {{.Finish}}
                  </p>
                  <p class="text-sm font-semibold truncate dark:text-gray-400 {{if .Delay}}text-red-600{{else}}text-green-600{{end}}">
                    Delay.: {{.Delay}}
                  </p>
                </div>
                
            </div>
            {{range .Label_names}}
            <span class="inline-flex items-center text-sm font-medium px-2.5 py-0.5 rounded-full  bg-blue-100 text-blue-800 ">
              {{.}}
            </span>
            {{end}}
        </li>
        {{end}}
    </ul>
    </div>
    
    </div>

  <!-- Content End -->
</main>